# --- Dossiers et fichiers de Build ---
/build/
/build-mingw/
/bin/
/lib/
/out/
*.o
*.a
*.so
*.dylib
*.exe

# --- VS Code & IDEs ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*~

# --- Fichiers temporaires CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json

# --- Divers ---
.DS_Store
*.log